html{
    max-width: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */

}

.limer {
    color: chartreuse;
    /* background-color: mediumslateblue; */
    /* padding: 5px; */
    /* border-radius: 5px; */
} 
.whiter {
    color: white;
    /* background-color: blueviolet; */
    /* padding: 5px;
    border-radius: 0 5px 5px 0; */
}

.full-stack {
    position: relative;
    width: 300px;
    height: 150px;
    background-color: bisque;
    padding: 10px;
    border-radius: 50%;
}

.contact-input {
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bolder;
    width: 500px;
    height: 30px;
    padding: 5px;
    text-align: left;
    border-radius: 10px;
    background-color: transparent;
    border: solid 2px purple;
}

body {
    margin: 0;
    position: relative;
    text-align: center;
    background-color: rgba(82, 12, 129, 0.411);
    /* background-image: url("../images/background_stars.gif"); */
    background-size: contain;
    background-blend-mode: darken;
}

h1 {
    position: relative;
    margin:inherit;
    font-size: 3rem;
    font-family: 'Rock Salt', cursive;
    z-index: 3;
}

form {
    padding-top: 50px;
}

hr {
    border: dotted;
    border-bottom: none;
    color: darkslategray;
    width: 5%;
    opacity: 0.5;
}

#tagline {
    position: relative;
    margin: inherit;
    font-size: 20px;
    font-family: 'Fredericka the Great', cursive;
    z-index: 3;
}

a {
    color: #FA58B6;
    text-decoration: none;
    padding: 5px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bolder;
}

a:hover {
    color: lightpink;
}

.header-part {
    /* position: fixed; */
    /* background-color: #270082; */
    background-image: url("../images/outerspace.gif");
    height: 30px;
    padding-top: 6px;
    opacity: 0.75;
    transition: 1s ease-in-out;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

footer {
    position: relative;
    background-image: url("../images/outerspace.gif");
    padding-top: 60px;
    opacity: 0.85;
    z-index: 2;
    padding-bottom: 60px;
}


#top-part {
    /* background-color: #1A1A40; */
    position: relative;
    background-image: url("../images/outerspace.gif");
    color: whitesmoke;
    text-align: center;
    margin: 0;
    height: 600px;
    border-radius: 0 0 170px 170px;

}

.pro {
    text-decoration: underline;
    color: lime;
}

#top-part h1 {
   padding-top: 200px;
   padding-bottom: 20px;
}

#earth {
    position: relative;
    margin-top: 2%;
    height: auto;
    max-width: 100%;
    bottom: 25px;
}

#design1 {
    position: relative;
    background: linear-gradient(to bottom right, blueviolet, transparent 60%);
    transform: rotate(15deg);
    opacity: 0.4;
    padding: 40px;
    width: 80%;
    margin-left: -20%;
    border-radius: 35%;
    box-shadow: 0 0 3px blue, 0 0 5px red;
    z-index: 1;
   
}

#design2 {
    position: relative;
    background: linear-gradient(to bottom right, blueviolet, transparent 60%, rgb(185, 223, 238));
    transform: rotate(-15deg);
    opacity: 0.4;
    padding: 40px;
    width: 90%;
    margin-left: -15%;
    top: 70px;
    border-radius: 35%;
    box-shadow: 0 0 3px rgb(2, 2, 5), 0 2px 5px rgb(150, 160, 221);
    z-index: 1;
   
}

#design3 {
    position: relative;
    background-color: linear-gradient(to bottom right, blueviolet, transparent 20%, rgb(185, 223, 238));
    transform: rotate(20deg);
    opacity: 0.4;
    padding: 40px;
    width: 40%;
    right: -20%;
    bottom: -10px;
    border-radius: 45%;
    box-shadow: 0 0 3px blue, 0 0 5px red;
    z-index: 1;
   
}

#design4 {
    position: relative;
    background: linear-gradient(to bottom right, blueviolet, transparent 60%, rgb(185, 223, 238));
    transform: rotate(50deg);
    opacity: 0.4;
    padding: 35px;
    width: 35%;
    height: auto;
    right: -30%;
    top: 60px;
    margin-left: 60px;
    border-radius: 45%;
    box-shadow: 0 0 3px rgb(2, 2, 5), 0 2px 5px rgb(150, 160, 221);
    z-index: 1;
   
}


/*! absolute postioning inside the parent element */
#human {
    position: absolute; 
    height: 35%;
    width: auto;
    left: 6%;
    top: 50px;
    opacity: 0.8;
    /* transform: rotate(-20deg) */
    z-index: 1;
}

/* #human {
    position: absolute;
    -webkit-animation:spin 40s linear infinite;
    -moz-animation:spin 40s linear infinite;
    animation:spin 40s linear infinite; */
/* } */

#saturn {
    position: absolute;
    height: 55%;
    width: auto;
    right: 1%;
    bottom: 20%;
    opacity: 0.7;
    z-index: 1;
}

#smile {
    position: relative;
    bottom: 30px;
    height: 100px;
    width: auto;
    border-radius: 100%;
    
}

.weird-img-top {
    position: absolute;
    top: 480px;
    right: 20px;
    width: 49%;
    height: 26.7%;
    opacity: 0.20;
    border-radius: 20px;
    /* height: 100px; */
}

.weird-img-bottom {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 49%;
    height: 22.5%;
    opacity: 0.20;
    border-radius: 20px;
    /* height: 100px; */
}

#smile-text {
    color: whitesmoke;
    position: relative;
    text-shadow:0px 4px 4px mediumorchid;
    /* background-color: darkslategray; */
    background-image: url("../images/outerspace.gif");
    width: 100px;
    height: auto;
    padding: 5px;
    margin: auto;
    font-weight: lighter;
    opacity: 0.7;
    border-radius: 30%;
    border: 2px solid whitesmoke;
    bottom: 30px;
    box-shadow:2px 2px 2px darkslategray;
}

#copyright {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

#about {
    padding: 10px;
    
}

#work {
    padding: 10px;
}

#contact {
    padding: 10px;
    /* padding-bottom: 5px; */
    margin-bottom: 40px;
}

.c-heading {
    color: whitesmoke;
    text-shadow: 0 0 3px blue, 0 0 5px red;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bolder;
}

.span-text {
    position: relative;
    display: inline-block;
    font-size: large;
    width: 60%;
    color: rgb(28, 48, 48);
    font-weight: bolder;
    z-index: 2;
}

#skills {
    display: inline-block;
    padding: 10px;
}

#skills img {
    position: relative;
    height: 30px;
    width: auto;
    top: 10px; 
    padding: 2px;   
}

#skills span {
    position: relative;
    font-family: 'Fredericka the Great', cursive;
}

/* #work img {
    position: relative;
    height: 50px;
    width: auto;
    left: 12%;
    top:50px;
    margin-right: 4%;
    margin-top: 1%;
    padding-right: 8px;
} */


.nlp::before {
    content: "";
    position: absolute;
    background-image: url("../images/natural-language-processing (1).png");
    background-size: contain;
    background-repeat: no-repeat;
    right: -30px;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}


.crypto::before {
    content: "";
    position: absolute;
    background-image: url("../images/cryptocurrencies.png");
    background-size: contain;
    background-repeat: no-repeat;
    right: -30px;
    width: 100%;
    height: 100%;
    opacity: 0.2;   
}

.web::before {
    content: "";
    position: absolute;
    background-image: url("../images/web-programming.png");
    background-size: contain;
    background-repeat: no-repeat;
    right: -30px;
    width: 100%;
    height: 100%;
    opacity: 0.2;   
}


#work2 {
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;
}

.span-text {
    margin-left: 30px;
    font-weight: bolder;
    font-family: 'Comfortaa', cursive;
}

#work2 h3 {
    margin-right: 25px;
}

.btn {
    background: #d93473;
    background-image: -webkit-linear-gradient(top, #d93473, #2b4cb8);
    background-image: -moz-linear-gradient(top, #d93473, #2b4cb8);
    background-image: -ms-linear-gradient(top, #d93473, #2b4cb8);
    background-image: -o-linear-gradient(top, #d93473, #2b4cb8);
    background-image: linear-gradient(to bottom, #d93473, #2b4cb8);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border: none;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #fc3cf2;
    background-image: -webkit-linear-gradient(top, #fc3cf2, #3498db);
    background-image: -moz-linear-gradient(top, #fc3cf2, #3498db);
    background-image: -ms-linear-gradient(top, #fc3cf2, #3498db);
    background-image: -o-linear-gradient(top, #fc3cf2, #3498db);
    background-image: linear-gradient(to bottom, #fc3cf2, #3498db);
    text-decoration: none;
  }


@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.change-color-yellow {
    background: linear-gradient(to bottom left, rgb(135, 235, 188), rgb(132, 130, 238));
    /* url("../images/weird.gif") left top; */
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    }

.change-color-green {
    background: linear-gradient(to bottom left, rgb(193, 131, 221), rgb(231, 111, 63));
    /* url("../images/weird.gif") center / contain; */
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    }
.change-color-violet {
    background: linear-gradient(to bottom left, skyblue, violet);
    /* url("../images/weird.gif") left / contain; */
    -webkit-transition: opacity 0.3 ease-out;
    transition: opacity 0.5s ease-out;
    }

.social {
    padding: 12px;
}

#extra {
    font-size: 18px;    
}

.icon {
    position: absolute;
    display: none;
}

.icon img {
    height: 20px;
    width: auto;
}

.logo-space {
    display: none;
    position: absolute;
    left: 0;
    top: -3px;
}

.logo-space img{
    position: relative;
    top: 2px;
    height: 40px;
    width: auto;
}

.logo-space span {
    font-family: 'Rock Salt', cursive;
    position: absolute;
    top: 1px;
    left: 35px;
    display: inline-block;
    color: #ffffff;
}

.nlp-list {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
        #menu {
            display: none;
        }
        .icon {
            display: block;
            top: 3px;
            right: 10px;
        }

        .logo-space {
            display: block;
        }

        .nlp::before {
            opacity: 0.1;
            right: 3px;
        }

        .crypto::before {
            opacity: 0.1;
            right: 3px;
        }

        .web::before {
            opacity: 0.1;
            right: 3px;
        }

        .span-text {
            margin-left: auto;
        }

        .contact-input {
            width: 300px;

        }

        .full-stack {
            right: 23%;
        }

        #earth {
            margin-top: 5%;
        }
        #top-part {
            border-radius: 0 0 50px 50px;
        }

        .weird-img-top {
            height: 28.5%;
            width: 100%;
            right: 0;
            opacity: 0.25;
        }

        .weird-img-bottom {
            height:15.7%;
            right: 0;
            opacity: 0.25;
        }

        #design1, #design2, #design3, #design4 {
            display: none;
        }

}

@media screen and (max-width: 600px) {
    .header-part.responsive {
        position: relative;
        padding: 10px;
        height: fit-content;
        transform: rotate(1deg);
    }

    .header-part.responsive #menu {
        display: block;
        text-align: left;

    }

    .header-part.responsive #menu a{
        display: block;
        transform: rotate(3deg);
    }

    .header-part.responsive .logo-space {
        display: none;
    }
}