@mixin info-screen{
    .aboutme{
        background-color: #B75CFF;
        padding: 100px 121px 100px 122px;
        .layer{
            .about-wrapper{
                display: grid;
                gap: 50px;
                position: relative;
                // display: flex;
                max-width: 1197px;
                color: white;
                .per-about{
                    display: flex;
                    gap: 79px;
                    .about-head{
                        font-size: 100px;
                        font-weight: 700;
                    }
                    .about-text{
                        margin-top: 40px;
                        font-size: 30px;
                        font-weight: 500;
                    }
                }
                .head-footer{
                    display: flex;
                    justify-content: space-between;
                    gap: 192px;
                    max-height: 130px;
                    .head-info{
                        display: flex;
                        gap: 9px;
                        .number{
                            display: inline-flex;
                            padding: 20px 30px;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            border-radius: 30px;
                            background: var(--pp-2-purple, linear-gradient(214deg, #B75CFF 0%, #671AE4 100%));
                            box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
                            p{
                                color: #FFF;
                                font-size: 50px;
                                font-style: normal;
                                font-weight: 700;
                            }
        
                        }
                        .head-info-text{
                            align-self: center;
                            color: #FFF;
                            font-family: Poppins;
                            font-size: 30px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 120%;
                            letter-spacing: 0.3px;
                        }
                    }
                }
            }
        }
    }
}