@mixin main-screen{
    .navbar{
        width: 100%;
        background: linear-gradient(214deg, rgba(183, 92, 255, 0.50) 0%, rgba(103, 26, 228, 0.50) 100%);
        .navbar-wrapper{
            padding: 20px 120px;
            height: 50px;
            max-width: 1197px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 622px;
            .logo{
                display: flex;
                gap: 5px;
                justify-items: center;
                align-items: center;
                img{
                    height: 40px;
                    width: 40px;
                }
                p{
                    color: #ffffff;
                }
            }
            .routing{
                display: flex;
                gap: 40px;
                align-items: center;
                .references{
                    text-decoration: none;
                    color: white;
                }
                .talk{
                    display: flex;
                    padding: 10px 20px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 100px;
                    background: var(--pp-2-purple, linear-gradient(214deg, #B75CFF 0%, #671AE4 100%));
                }
            };
        }
}     
}